{% extends 'base.html' %}

{% block content%}
{{block.super}}

<div class="container">
    <h1 class="text-center">Text Centered</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img style="max-width: 90%; max-height: 90%; margin-top:5rem" src="{{photo.image_url.url}}">
        </div>
        <div class="card my-5" style="border:3px solid grey">
            <div class="card-header" style="font-weight:bolder; text-align: center; font-size 15px">Description</div>
            <div class="card-body">
                <p style="font-size:20px; font-style:italic"> {{photo.description}}</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}